*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
}
:root{
    --title_color: #1D1E25;
    --background_blue:#1F61FE;
    --text_color: #7E8492;
    --text_white_color: #FFF;
    --text_background_blue: #EDEDED;
}
.introduction-container{
    background-color: var(--background_blue);
    padding: 0 5.4%;
    padding-bottom: 1rem;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.75rem;
    margin-bottom: 2.5rem;
}
.navegation-header{
    display: none;
}
.register-login-container{
    display: none;
}
.introduction-container h2{
    text-align: left;
    color: var(--text_white_color); 
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.introduction-container p{
    color: var(--text_background_blue);
    margin-bottom: 2rem;
}
.buttons{
    display: flex;
    line-height: 162%;
    margin-bottom: 3rem;
}
.green-button{
    background-color: #A7F46A;
    width: 11.5rem;
    border-radius: 6.25rem;
    padding: 0.88rem 1.25rem;
    margin-right: 1rem;
}
.green-button a{
    color: var(--title_color);
}
.frame-button{
   display: flex;
   align-items: center;
   gap: 0.5rem;
}
.frame-button a{
    color: var(--text_white_color);
}
.white-space{
    margin-top: -1.5rem;
}
.burnchart-grafic, .burnchart-grafic img, .white-space{
    width: 100%;
}
main{
    padding: 0 5.3%;
}
.content{
    padding: 3.5rem 0;
}
.content h4{
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;

}
.our-services{
    text-align: center;
}
.our-services h4{
    margin-bottom: 2rem;
}
.our-services img{
    width: 75%;
}
