*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    
}
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
:root{
    --title_color: #1D1E25;
    --background_blue:#1F61FE;
    --text_color: #7E8492;
    --text_white_color: #FFF;
    --text_background_blue: #EDEDED;
    --background-feedbacks: #FAFBFA;
    --blue-text : #546FFA;
    --submit-color : #A7F46A;
}
.introduction-container{
    background-color: var(--background_blue);
    padding: 0 5.4%;
    padding-bottom: 1rem;
    background-image: url(/IMG/white-space.svg);
    background-position: 0 105.5%;
    background-repeat: no-repeat;
    background-size: 101%;
    
}
a{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.75rem;
    margin-bottom: 2.5rem;
}
.navegation-header{
    display: none;
}
.register-login-container{
    display: none;
}
.introduction-container h2{
    text-align: left;
    color: var(--text_white_color); 
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.introduction-container p{
    color: var(--text_background_blue);
    margin-bottom: 2rem;
}

.buttons{
    display: flex;
    line-height: 162%;
    margin-bottom: 3rem;
}
.green-button{
    background-color: #A7F46A;
    width: 11.5rem;
    border-radius: 6.25rem;
    padding: 0.88rem 1.25rem;
    margin-right: 1rem;
}
.green-button a{
    color: var(--title_color);
}
.frame-button{
   display: flex;
   align-items: center;
   gap: 0.5rem;
}
.frame-button a{
    color: var(--text_white_color);
}
.white-space{
    margin-top: -1.5rem;
}
.burnchart-grafic, .burnchart-grafic img, .white-space{
    width: 100%;
}
main{
    padding: 0 5.3%;
}
.content{
    padding: 3.5rem 0;
}
.content .title-content, .title-content span{
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 1rem;
    letter-spacing: -0.04rem;
    width: 92%;
    
}
.our-services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.our-services, .agile-tools{
    text-align: center;
}
.our-services .title-content{
    margin-bottom: 2rem;
}
#notion-logo-container, #grammaly-logo-container, #descript-logo-container{
    display: none;
}
.brands-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46%;
    height: 2.65rem;
    max-width: 13.5rem;
}
.brand-logo{
   width: 90%;
}
.subtitle-content{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.625rem;
    color: var(--title_color);
    margin-bottom: .5rem;
}
.title-container-services{
    display: flex;
    flex-wrap: wrap;
}
/* #linha-1{
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.02rem;
    white-space: nowrap;
    margin: 0 auto;
} */
.text-content{
    color: var(--text_color);
    font-size: 0.875rem;
    line-height: 150%;
    margin-bottom: 2rem;
}

.img-content{
    width: 100%;
}
.earnings img{
    margin-bottom: 2.5rem;
}
.feedbacks .text-content{
    font-size: 1rem;
}
.person-feedback{
    background-color: var(--background-feedbacks);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2.5rem;
}
.people-feedback h4{
    font-size: 1.125rem;
    line-height: 120%;
    font-weight: 600;
}
.active-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--title_color);
    width: 4.25rem;
    border-radius: 6.25rem;
    padding: .5rem .75rem;
    margin-left: auto;

}
.active-button a{
    color: #FFF;
    font-size: .875rem;
    font-weight: 700;
}
.bio{
    display: flex;
    margin-bottom: 2.5rem;
}
.text-bio{
    padding: .8rem 1rem;
}
.person-name{
    color: var(--title_color);
    line-height: 1.625rem;
    font-weight: 700;
}
.person-text-bio{
    color: var(--text_color);
    line-height: 150%;
    margin-bottom: .5rem;
    font-size: .875rem;
}
#blue-text{
    color: var(--blue-text);
}
.feedback-text{
    margin-left: .5rem ;
    width: 100%;
}
.feedback-text h4{
    font-size: 1.5rem;
    letter-spacing: -0.015rem;
    margin-bottom: 1rem;
}
.feedback-text p{
    color: var(--text_color);
    font-size: 1.125rem;
    line-height: 2rem;
}
.second-square{
   padding-left: 1rem;
}
#bar{
    background-color: var(--text_background_blue);
    width: 100%;
    height: 1px;
    margin: 1.5rem auto 2.5rem auto;
}
#bio-bar{
    margin-bottom: 0;
}
.info-progress-text{
    display: flex;
    justify-content: space-between;
}
.progress-info p{
    font-size: .875rem;
    line-height: 150%;
}
#progress-container-title , .info-progress{
    margin-bottom: 1rem;
}
#feedback-text-progress{
    margin-top: 2.5rem;
}
.testimonials{
    border-bottom: solid var(--text_background_blue) 1px;
    border-top: solid var(--text_background_blue) 1px;
}
.feedback-stars{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
#individual-feedback-text{
    line-height: 120%;
    font-size: 1.125rem;
    font-weight: 600;
}
#author-name{
    line-height: 2rem;
    font-size: 1.125rem;
}
.author{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
}
#author-job{
    font-family: "Sonsie One", system-ui;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    color: #80818C;
}
#subtitle-content{
    color: var(--text_color);
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 2.5rem;
}
.tool-title{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.015rem;
    text-align: left;
    margin: 1rem 0 .5rem 0;
}
.img-tools{
    width: 100%;
}
.tool-text{
    font-size: .875rem;
    line-height: 150%;
    color: var(--text_color);
    text-align: left;
    margin-bottom: 2rem;
}
#final-tool{
    margin-bottom: 0;
}
#lower-width-text{
    width: 85%;
}
.ingress{
    background-color: var(--background_blue);
    border-radius: 1.25rem;
    padding: 1.5rem 1rem;
    height: auto;
    width: 100%;
    background-image: url(../IMG/c.svg);
    background-repeat: no-repeat;
    background-position: 30% 92%;

}
.ingress-title{
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.02rem;
    color: var(--text_white_color);
    text-align: center;
    margin-bottom: 1.5rem;
}
.subtitle-ingress{
    font-size: 1.125rem;
    line-height: 2rem;
    color: var(--text_background_blue);
    text-align: center;
    margin-bottom: 1rem;
}
.benefits{
    display: flex;
    flex: 1 0 0 ;
    align-items: center;
    gap: .5rem;
    margin: 0 auto 2.5rem auto;
    max-width: 25rem;
    
}
.benefits p{
    font-size: 0.875rem;
    color: var(--text_background_blue);
    line-height: 150%;
}
.benefits .benefits-text{
   width: 30%;
   display: flex;
   justify-content: center;
   text-align: center;
}
.white-bar{
    background-color: var(--text_background_blue);
    height: 1rem;
    width: 2px;
}
input{
    border: none;
    width: 100%;
}
.email{
    display: flex;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--text_white_color);
    border-radius: 6.25rem;
    margin-bottom: 1.5rem;
    width: 100%;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--submit-color);
    padding: .9rem 1.25rem;
    border-radius: 6.25rem;
    width: 9rem;
    margin: 0 auto;
}
.submit input{  
    color: var(--title_color);
    background-color: var(--submit-color);
    font-weight: 700;
    line-height: 1.625rem;
    font-size: 1rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    margin-top: 3.5rem;
    padding: 3.5rem 1.25rem;
    background-color: var(--title_color);
    color: var(--text_white_color);
}
#footer-title{
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -0.02rem;
    font-weight: 600;
    width: 80%;
    margin-bottom: 1.5rem;
}
.location, .contact{
    display: flex;
    align-items: center;
    gap: .9rem;
    margin-bottom: 1.5rem;
}
.location p, .contact p{
    font-weight: 300;
    line-height: 1.625rem;
    width: 80%;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7rem;
    background-color: var(--text_white_color);
    border-radius: 100%;
}
.logo{
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}
#nav-footer ul{
    width: 75%;
    display: flex;
    column-gap: 2.56rem;
    flex-wrap: wrap;
    list-style: none;
}
#nav-footer ul li a{
    color: var(--text_white_color);
    line-height: 1.625rem;
}
#nav-footer ul li{
    margin-bottom: 1rem;
}
.social-media-icons{
    display: flex;
    gap: 1.5rem;
}
#grey-division-bar{
    background-color: var(--text_color);
    height: 1px;
    width: 100%;
    margin: 1.5rem 0;
}
.legal-terms{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    justify-content: space-between;
}

.terms-and-privacy{
    display: flex;
    gap: 2.5rem;
}
#copyright p{
    font-weight: 300;
}
.terms-and-privacy a{
    color: var(--text_white_color);
    font-weight: 400;
    line-height: 160%;
}
@media (min-width: 976px){

    .introduction-container{
        padding: 0 7.5rem;
        background-position: 0 112%;
    }
    header{
        padding: 1.5rem 0;
       
    }
    .hamburguer-img{
        display: none;
    }
    .navegation-header, .register-login-container{
        display: block;
    }
    ul{
        list-style: none;
    }
    .navegation-header nav ul, .register-login-container{
        display: flex;
        align-items: center;
    }
    .navegation-header nav ul{
        gap: 2rem;
    }
    .navegation-header nav ul li a{
        color: var(--text_white_color);
        line-height: 1.625rem;
    }
    .register-login-container{
        gap: 1rem;
    }
    #sign-in{
        color: var(--text_white_color);
        font-weight: 600;
        line-height: 162.5%;
    }
    #sign-up{
        padding: 1rem 1.5rem;
        border: solid 1px #D5DAE1;
        border-radius: 6.25rem;
    }
    #sign-up a{
        font-family: "Sora", sans-serif;
        color: var(--text_white_color);
        line-height: 1.375rem;
    }
    /* Fontes titulo e subtitulo container 1 */
    .introduction-container h2{
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.045rem;
        width: 80%;
        margin-bottom: 1.5rem;
    }
    .introduction-container p{
        width: 50%;
        font-size: 1.125rem;
        line-height: 2rem;
        font-weight: 500;
    }
    .buttons{
        margin: 5rem 0 0 2rem;
        gap: 2.5rem;
    }
    .green-button a, .green-button{
        font-weight: 700;
        margin: 0;
    }
    .burnchart-grafic{
        width: 50%;
        margin: -14rem 0 0 auto;
    }
    #notion-logo-container, #grammaly-logo-container, #descript-logo-container{
        display: flex;
    }
    .brands-container{
        justify-content: center;
        gap: 2rem;
    }
    .brand{
        height: 4.75rem;
    }
    /* fonte container 2 */
    .our-services .title-content, .our-services .title-content span{
        font-size: 3.5rem;
        text-align: center;
    }
    
    .title-container-services{
        width: 75%;
        font-weight: 600;
        line-height: 120%; 
        letter-spacing: -0.035rem;
        flex-wrap: nowrap;
        margin: 0 auto;
    }

    /* fonte container 3 e pra frente */

    .content .title-content{
        font-size: 3.5rem;
        letter-spacing: 0.035em;
        width: 90%;
    }

    .feedbacks .title-content {
        font-size: 2.5rem;
        letter-spacing: 0.035em;
        width: 80%;
    }
    .feedbacks .text-content{
        width: 60%;
        font-size: 1.125rem;
        line-height: 2rem
    }
    .subtitle-content{
        font-size: 1.125rem;    
    }
    .text-content{
        font-size: 1rem;
    }
    .make-organizate, .earnings{
        display: flex;
        padding: 7rem;
        gap: 3rem
    }
    .make-organizate .title-content, .earnings .title-content{
        margin-top: 4rem;
        font-size: 2.4rem;
    }
    .img-about-content{
        width: 100%;
        display: flex;
    }
    .img-about-content img{
        width: 100%;

    }
    .text-about-content{
        width: 100%;
    }
    .feedbacks{
        padding: 7rem;
    }
    .people-feedback{
        display: flex;
        flex: 1;
    }
  
    .progress img{
        width: 100%;
    }
   
    .feedback-text h4{
        font-size: 1.5rem;
        line-height: 130%;
        width: 72%;
        font-weight: 700;
    }
    .feedback-text p{
        font-size: 1.125rem;
        line-height: 2rem;
        width: 74%;
    }
    .person-1 .bio{
        margin-bottom: 6.5rem;
    }
    .person-2 #bio-bar{
        margin-bottom: 2.8rem;
    }
    #feedback-text-progress{
        margin-top: 2rem;
    }
    .active-button{
        margin-top: -1rem;
    }
    .testimonials{
        padding: 5rem 7.5rem;
    }

    /* fontes feedback individual */
    #individual-feedback-text{
        font-size: 2.3rem;
        line-height: 120%;
    }
    #author-name{
        font-size: 1.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
    }
    #author-job{
        font-family: "Sonsie One";
        font-size: 1rem;
        font-style: normal;
        line-height: 1.25rem;   
    }
    .agile-tools{
        padding: 7rem 7.5rem;
    }
    .agile-tools .title-content{
        font-size: 2.6rem;
        width: 70%;
        margin: 0 auto 1.5rem auto;
    }
    .agile-tools #subtitle-content{
        font-size: 1.125rem;
        width: 60%;
        margin: 0 auto 1.5rem auto;
    }
    .tools{
        display: flex;
        gap: 2rem;
    }
    .tool{
        flex: 1;
    }
    .tools img{
        width: 100%;
    }
    .ingress{
        background-position: center left;
    }
    .email{
        width: 21rem;
    }
    .container-form{
        display: flex;
        gap: 1.5rem;
    }
    .ingress form{
        display: flex;
    }
    .submit{
        height: 3.375rem;
    }
}
@media (min-width: 976px) and (max-width: 1300px){

   .content{
    padding: 3.5rem;
   }
}

